/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2014, 10:39:05 AM
    Author     : maskimko
*/

#heading {
   padding: 10px;
   height: 75px;
   margin-bottom: 10px;
   background: #dddddd;
   border: 1px solid darkGray;
   
}

#sidebar {
   border: thin solid lightGray;
   padding: 5px;
   width: 220px;
   background: #eeeeee;
}

#content {
   padding: 10px;
   border: thin solid lightGray;
   background: #fefeef;
   position: absolute;
   right: 8px;
   left: 250px;
   height: 400px;
   top: 115px;
}



#accordionimage {
    height: 50px;
    width: 20px;
    padding: 5px;
}

#sites-container{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	//font-family:"Lucida Grande","Luxi Sans","Trebuchet MS","Bitstream Vera Sans",helvetica,verdana,arial,sans-serif
}

#sites-error{
	color:#d8000c;
	background-color:#ffbaba;
	font-size:100%;
	width:100%;
	font:normal 100% Helvetica,Arial,sans-serif;
	font-weight:bold
}

#sites-header{
	display:table-cell;
	white-space:nowrap;
	padding-left:0
}

#sites-content{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font:sans-serif;
	background-color:#FFF
}

.sites-col-header{
	text-align:left;
	background:#c00;
	width:100%;
	height:25px;
	//font-family:"Lucida Grande","Luxi Sans","Trebuchet MS","Bitstream Vera Sans",helvetica,verdana,arial,sans-serif;
	font-size:100%;
	padding-left:2%;
	color:#fff
}

#sites-region1{
	display:block;
	float:left;
	white-space:nowrap;
	width:23%;
	height:80%;
	padding-left:0;
	padding-top:1%
}

#sites-region2{
	display:block;
	float:left;
	white-space:nowrap;
	width:23%;
	height:80%;
	padding-left:2%;
	padding-top:1%
}

#sites-region3{
	display:block;
	float:left;
	width:23%;
	height:80%;
	padding-left:2%;
	padding-top:1%
}

#sites-region4{
	display:block;
	float:left;
	width:23%;
	height:80%;
	padding-left:2%;
	padding-top:1%
}

#sites-footer{
	width:30%;
	margin-left:2%;
	height:0;
	padding-top:1%;
	padding-left:0
}

#sites-ui-submit{
	margin-top:10px;
	margin-left:10px;
	height:20px;
	width:150px;
	visibility:visible;
	padding:.5em;
	background:#f5f5f5
}

#select{
	float:right;
	padding-right:1%
}

.ui-checkbox{
	font-family:"Lucida Grande","Luxi Sans","Trebuchet MS","Bitstream Vera Sans",helvetica,verdana,arial,sans-serif;
	font-size:105%
}
